include LICENSE.MIT
include MANIFEST.in
include README.*
include docs/*
include pkg/*
include setup.*
include tox.ini
recursive-include anyconfig_configobj_backend *.py
# for f in tests/**/*.* ; do echo ${f/*\./*.}; done | sort | uniq
recursive-include tests *.py *.configobj *.bats
